.header-root {
    width: 100%;
}
.header-nav-welcome-container {
    background-color: #f2f2f2;
    height: 38px;
    width: 100vw;
    display: flex;
    align-items: center;
}
.header-nav-welcome-content {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    font-size: 10px;
    display: flex;
    align-items: center;
    padding: 2rem;
}
a {
    text-decoration: none;
    color: #666;
}
.header-nav-title-container {
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    box-sizing: border-box;
}
.header-nav-title-content {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    font-size: 10px;
    display: flex;
    align-items: center;
    padding: 2rem 0;
    flex-flow: row wrap;
}
.header-nav-title-content > div {
    height: 100%;
    margin-left: 1rem;
}
.header-nav-title1 {
    flex: 1;
    width: 300px;
}
.header-nav-title-dep {
    height: 50%;
    font-size: 23px;
    font-weight: bold;
}
.header-nav-title-sus {
    height: 50%;
    font-size: 23px;
}
.search-input {
    height: 40px;
    width: 200px;
    border: 1px solid #aaa;
    outline: none;
    box-sizing: border-box;
}
.search-btn {
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    background-color: #00adef;
}
.search-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.header-navbar-container {
    background-color: #4d4d4d;
    height: 38px;
    width: 100vw;
    display: flex;
    align-items: center;
}
.header-navbar-content {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    font-size: 15px;
    display: flex;
    align-items: center;
    color: white;
    height: 100%;
    font-weight: 600;
}
.header-navbar-content > span {
    padding: 0 0.5rem;
    border-left: 1px solid white;
    display: inline-block;
    height: 100%;
    line-height: 38px;
}
.header-navbar-content > span:hover {
    color: #4d4d4d;
    background-color: white;
    cursor: pointer;
}
.header-navbar-content > span:last-child {
    border-right: 1px solid white;
}
.navbar-icon {
    width: 100%;
    padding-left: 0.5rem;
    display: none;
}
@media screen and (max-width: 992px) {
    .search-container {
        width: 100%;
        justify-content: flex-start;
        margin-top: 0.7rem;
    }
    .header-navbar-container {
        height: fit-content;
        background-color: white;
        color: #4d4d4d;
        padding-left: 3rem;
        box-sizing: border-box;
        flex-direction: column;
        align-items: flex-start;
    }
    .header-navbar-content {
        flex-direction: column;
        height: auto;
        color: #4d4d4d;
        align-items: flex-start;
    }
    .navbar-icon {
        display: block;
    }
}
@media screen and (max-width: 768px) {
    a {
        width: 100%;
    }
    .header-nav-title-content {
        flex-direction: column;
    }
    .header-logo {
        width: 90vw;
        border: none;
        padding-bottom: 2rem;
        border-bottom: 3px solid #666;
    }
    .header-nav-title1 {
        margin-top: 2rem;
        width: 100%;
        margin-left: 0 !important;
    }
    .search-container {
        width: auto;
    }
    .header-nav-title-dep {
        font-size: 1rem;
        text-align: center;
    }
    .header-nav-title-sus {
        font-size: 1rem;
        text-align: center;
    }
    .header-navbar-container {
        padding: 0;
    }
}
